/* ----- Menu + Titre ----- */


#titre_et_nav {
    font-family: 'TommyBOLD', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    padding: 10;
    margin-top: 0;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 99;
    align-items: center;
}


/* ----- Titre ----- */


.princ_title {
    transition: transform 0.5s, font-size 0.5s ease;
    font-size: 16px;
    animation: fadeIn .5s;
}

.princ_title:hover{
    font-size: 20px;
    transform: rotate(360deg);
}


/* ----- Menu navigation ----- */


#titre_principal {
    user-select: none;
    position: relative;
    text-shadow: 1px 1px 1px black;
}

.navbar {
    position: relative;
    z-index: 99;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    padding: 1.5rem;
    font-size: 18px;
}

.menu a:hover {
    color: rgb(0, 0, 0);
}

.menu li {
    display: inline;
    list-style: none;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    background-color: rgb(0, 0, 0);
    transition: font-size 0.3s, box-shadow 0.3s, background-color 0.3s ease;
    margin-top: auto;
    margin-bottom: 1rem;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

.menu li:hover {
    background-color: rgb(255, 254, 247);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .2);
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 850px;
    margin-right: 10px;
}
