.full_box_register {
    display: flex;
    justify-content: center;
}

.container_form_reg {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: ;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 6px rgb(185 185 185);
}

.text-info {
    margin-top: 0;
    font-size: 3rem;
    font-family: TommyMedium, Arial;
    text-align: center;
}

.register_form {
    display: flex;
    flex-direction: column;
}

.user__mail {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.pwd__conf {
    display: flex;
    flex-direction: column;
}

.label {
    color: black;
    font-size: 1.2rem;
    font-family: TommyLight, Arial;
    margin-bottom: 1px;
    margin-top: 12px;
}

.form-control {
    min-height: 1.4rem;
}

.btn_text {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-family: TommyRegular, Arial;
    min-height: 2.5rem;
}

.register_form h1 {
    font-size: 1.5rem;
    font-family: TommyThin, Arial;
    margin-top: 3rem;
    margin-bottom: 0;
}