/* partie général */

body 
{
    background-color: grey;
}
#elem
{
    display: flex;
    justify-content: center;
}

#codehtml
{
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}

/* partie zone */

.zone
{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content:space-evenly;
    min-height: 40rem;
}
.part
{
    border: 3px solid black;
    border-radius: 1rem;
    padding: 1rem ;
}

.zone div
{
    padding: 7px;
}

.zone .drag:hover
{
    border: 3px solid red;
    border-radius: 1rem; 
}

.zone .dropped:hover
{
    border: 3px solid red;
    border-radius: 1rem; 
}

/* partie items proposés */

#items
{
    width: 43%;
    background-color: white;
}


/* partie création formulaire */

#form
{
    width: 43%;
    background-color: white;
    text-align: center;
}

#form #drop
{
    min-height: 40rem;
}


/* partie code html */

#code
{
    display: flex;
    min-height: 30rem;
    width: 62%;
    background-color: white;
    border: 3px solid black;
    border-radius: 1rem;
}
